<section >
  <div class="container mt-3">
    <h1>Ths is catd</h1>
    
    <div class="row">
    <div class="col-lg-4 mt-4">
      <div class="card " style="width: 18rem;">
        <img src="../../assets/image/donald-teel-wCIDfKBMDHE-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/image/freddy-kearney-o-ioeoATbIM-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../assets/image/gabriel-jimenez-jin4W1HqgL4-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div> 
 </div>
      

 <div class="container mt-3">
  <h1>Ths is catd</h1>
  
  <div class="row">

    <div class="card" style="width: 18rem;">
    <img src="../../assets/image/mari-lezhava-q65bNe9fW-w-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="../../assets/image/nathan-lemon-FBiKcUw_sQw-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="../../assets/image/nik-z1d-LP8sjuI-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  </div>


  
  

  


</section>