<nav class="navbar navbar-light bg-primary p-2">
    <h4 class="text-light"> Test CRUD</h4>
    <div class="d-flex">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
    </div>
</nav>

<div class="container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product price</th>                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of productData">
                <td>{{row.id}}</td>
                <td>{{row.productName}}</td>
                <td>{{row.productPrice}}</td>               
                
                <td>
                    <button class="btn btn-warning mx-1" (click)="onEdite(row)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                    <button class="btn btn-danger mx-1" (click)="deleteProduct(row)">Delete</button>
                </td>

            </tr>
        </tbody>

    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Product Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form [formGroup]="fromValue">
                        <div class="mb-3">
                            <label  class="form-label">Product Name</label>
                            <input type="text" class="form-control" formControlName="productName" >                        
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Product Price</label>
                            <input type="text" class="form-control" formControlName="productPrice" >                        
                        </div>
                        
                        
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="addProduct()">Save</button>
                <button type="button" class="btn btn-primary" (click)="updateProduct()">Update</button>
            </div>
        </div>
    </div>
</div>
