<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Discharge Form</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-5">
    <h2 class="mb-4">Patient Discharge Form</h2>

    <form th:action="@{/dischargepas}" th:object="${admission}" method="post">

    <!-- Hidden field for patient ID -->
        <input type="hidden" th:field="*{dischargeId}" />

        <!-- Patient Information Fields -->
        <div class="form-group">
            <label for="firstName">Full Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{name}" required />
        </div>
        <div class="form-group">
            <label for="lastName">Age:</label>
            <input type="text" class="form-control" id="lastName" th:field="*{age}" required />
        </div>
        <div class="col-md-4 form-group">
            <input type="datetime-local" name="admission_date" class="form-control" id="admissionDate" placeholder="Admission Date" required th:field="*{admission_date}">
            <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">
            <input type="datetime-local" name="dischargeDate" class="form-control" id="discharg Date" placeholder="Discharge Date" required th:field="*{dischargeDate}">
            <div class="validate"></div>
        </div>

        <div class="col-md-8 form-group">
            <textarea class="form-control" name="dischargeSummary" rows="5" placeholder="Discharge Summary" th:field="*{dischargeSummary}"></textarea>
            <div class="validate"></div>
        </div>


        <!-- Add more patient fields as needed -->

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Discharge</button>
    </form>
</div>

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include any necessary JavaScript or additional content -->

</body>

</html>
