#first{
    background-color: rgb(181, 152, 219);color: black;
}

#second{ background-color: bisque; color: aquamarine;

}
#third{
    background-color: rgb(71, 56, 33); color: blue;
}
#forth{
    background-color: brown; color: blueviolet;
}
#fifth{
    background-color: chartreuse; color: cornsilk;
}
#sixth{
    background-color: darkgoldenrod; color: coral;
}